@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

a,
a:visited,
a:active
a:link {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1000px) {
  html {
    font-size: calc(12px + .4vw);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 0;
}

.wrapper {
  width: 100%;
  max-width: 85rem;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

nav ul li {
  padding: 0 1rem;
  list-style: none;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  color: #00a0ac;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.button {
  background: #00a0ac;
  padding: 0.25em;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.button:hover {
  background: white;
  border: 2px solid #00a0ac;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    top: -1rem;
    width: 100%;
    height: 100vh;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    right: 0;
  }
  body.active {
    overflow: hidden;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

#Home {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}

@media (max-width: 700px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .logo, .container .title {
    width: 90%;
    margin: 1em auto;
  }
}

.logo {
  width: 40%;
  text-align: center;
}

.logo img {
  width: 20em;
}

.logo h3 {
  color: #61bb46;
  font-size: 1.5rem;
}

.title {
  width: 50%;
}

.title p {
  font-weight: 300;
  line-height: 1.5rem;
}

.green {
  color: #61bb46;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 0.75em;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.features div {
  text-align: center;
}

#Teelt {
  background-image: url("../img/farm.png");
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white {
  color: white;
  padding: 2em;
}

.underline {
  text-decoration: none;
  position: relative;
  margin-bottom: 1em;
}

.underline:after {
  position: absolute;
  content: '';
  height: 4px;
  bottom: -10px;
  margin: 0rem auto;
  left: 0;
  right: 0;
  width: 10%;
  background: #61bb46;
}

.blue:after {
  background: #00a0ac;
}

.linear:after {
  background: linear-gradient(268.89deg, #61BB46 -9.51%, #00A0AC 90.49%);
}

#Producten {
  text-align: center;
}

#Producten span {
  color: #61bb46;
}

#Producten p {
  margin-bottom: 2em;
}

.grid {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2.5em;
  background: rgba(97, 187, 70, 0.2);
  border-radius: 5px;
}

.grid div {
  aspect-ratio: 1;
  background: url(../img/samphire.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*
    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:hover::after {
      &::after {
        opacity: 0;
      }
    }

    &::after {
      content: "zeekraal";
      display: block;
      height: 100%;
      width: 100%;
      background: $green;
      opacity: 0;
    }
    */
}

@media (max-width: 700px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#OverOns {
  background: #61bb46;
  color: white;
  text-align: center;
}

#OverOns h2 {
  margin-bottom: 1em;
}

#OverOns .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  #OverOns .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #OverOns .container .pargraaf {
    width: 90%;
    margin: 1em auto;
  }
}

.pargraaf {
  margin: 1em 2rem;
  text-align: left;
  width: 40%;
  line-height: 1,5em;
  letter-spacing: 0.05em;
}

#Gerechten {
  text-align: center;
}

#Gerechten .grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background: white;
}

#Gerechten .grid div {
  background: url(../img/insta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Verkoop {
  text-align: center;
  background-color: rgba(0, 160, 172, 0.2);
}

.collection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2.5em;
  grid-auto-rows: 15rem;
  padding: 2.5em 0;
}

.collection div {
  position: relative;
  background-image: url("../img/package.png");
  background-size: cover;
  border-radius: 5px;
}

#klein {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-radius: 5px;
  text-align: left;
  width: 97.5%;
  margin: 1em auto 0.25em;
  height: auto;
}

#Contact {
  background: linear-gradient(268.89deg, #61BB46 -9.51%, #00A0AC 90.49%);
  color: white;
}

#Contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

#Contact .wrapper .title {
  width: 20%;
}

#Contact .wrapper .form {
  width: 50%;
}

@media (max-width: 700px) {
  #Contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #Contact .wrapper .title {
    text-align: center;
    width: 100%;
  }
  #Contact .wrapper .form {
    width: 100%;
  }
  #Contact .wrapper .form #gegevens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Contact .wrapper .form #gegevens #name, #Contact .wrapper .form #gegevens #email {
    width: 100%;
    margin-left: 0;
  }
}

#gegevens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gegevens #name {
  width: 40%;
}

#gegevens #email {
  width: 60%;
  margin-left: 2rem;
}

input, textarea {
  margin: 10px 0;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  padding: 10px;
  color: white;
  width: 100%;
  resize: vertical;
}

.submit {
  position: relative;
  margin: 1em 0;
  padding: 0.25em 1.75rem;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 900;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}

.submit:hover {
  color: #00a0ac;
}

.submit:before {
  content: "";
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
  transition: top 0.09s ease-in;
}

.submit:hover:before {
  top: 0;
}

footer {
  padding: 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem;
  text-align: left;
  width: 10rem;
}

.column h3 {
  margin-bottom: 1rem;
}

.column a {
  color: #000;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.3 ease-out;
  transition: 0.3 ease-out;
}

.column a:hover {
  color: #1f1f1f;
  -webkit-transition: 0.3 ease-out;
  transition: 0.3 ease-out;
}

.footerInfo {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerLogo {
  width: 15%;
}

.footerLogo img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */